.is-detail {
    position: absolute;
    right: 20px;
    top:  8px;
    display: flex;
    align-items: center;
    justify-content: center;    
    z-index: 999;  
    padding: 5px;
}

.is-detail img {
    width: 15px;
    height: 15px;
    z-index: 999;
}

.admin {
    z-index: 10;
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    /* flex-direction: column; */
}

.label1 {
    margin-right: 10px;
}

.post-n {
    position: absolute;
}

